body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

button {
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем обводку */
    padding: 0; /* Убираем внутренние отступы, если они есть */
    outline: none; /* Убираем контур при фокусе */
    cursor: pointer; /* Изменяем курсор на указатель */
}

.controlPanel {
    display: flex;
    justify-content: center;
}

.controlChild {
    width: 650px;
    display: flex;
    justify-content: center
}

.leftRight {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.monitor {
    margin-bottom: 10px;
    width: 650px;
    height: 360px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Добавляем, чтобы GIF не выходил за пределы блока */
}

.monitor img {
    width: 100%; /* Растягиваем изображение по ширине */
    height: 100%; /* Растягиваем изображение по высоте */
    object-fit: cover; /* Растягиваем изображение, обрезая его при необходимости */
}

.sensorsData {
    margin-left: 10px;
}