body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

button {
    background-color: transparent; /* Убираем фон */
    border: none; /* Убираем обводку */
    padding: 0; /* Убираем внутренние отступы, если они есть */
    outline: none; /* Убираем контур при фокусе */
    cursor: pointer; /* Изменяем курсор на указатель */
}

.controlPanel {
    display: flex;
    justify-content: center;
}

.control {
    display: flex;
}

.controlChild {
    width: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leftRight {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

.monitor {
    margin: 10px;
    width: 700px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Добавляем, чтобы GIF не выходил за пределы блока */
}

.monitor img {
    width: 100%; /* Растягиваем изображение по ширине */
    height: 100%; /* Растягиваем изображение по высоте */
    object-fit: cover; /* Растягиваем изображение, обрезая его при необходимости */
}

.sensorsData {
    margin-left: 10px;
}

.slider_servo_engine {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}

.control_servo_engine {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margin2 {
    margin: 2px;
}

.control_block {
    margin-left: 100px;
}

.margin_left20 {
    margin-left: 20px;
}

.control_engines {
    display: flex;
    justify-content: space-between;
}

.control_servoDir {
    display: flex;
    justify-content: space-around;
}

.control_speed_direction {
    display: flex;
}

.control_speed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control_direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.slider_horizontal {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-horizontal; /* Chromium */
    width: 200px;
    height: 8px; /* Увеличиваем высоту для лучшего отображения */
    padding: 0 5px;
}

.slider_vertical {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 200px; /* Увеличиваем высоту для лучшего отображения */
    padding: 0 5px;
}

.absolute {
    position: absolute;
}

.zindex {
    z-index: -1;
}

.dronImg {
    margin-top: 60px;
    width: 650px;
}

input[type=range] { 
    accent-color: rgb(29, 202, 255);
}

.servoWordControl {
    color: rgb(175, 235, 126);
}

.engineWordControl {
    color: rgb(255, 217, 159);
}

.spdrWordControl {
    color: rgb(255, 230, 2);
}

.backgroundColor {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 3px;
}

.mods {
    position: absolute;
    font-size: medium;
}

/* Стили для отключенных элементов */
input[type="range"]:disabled {
    opacity: 0.5; /* Уменьшаем непрозрачность */
    cursor: not-allowed; /* Изменяем курсор */
}