<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnderWaterDron</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
  </head>
  <body>
    <div class="controlPanel">
      <div class="control">
        <div class="controlChild">
          <img src="../static/images/Dron.png" alt="dron" class="absolute zindex dronImg">

          <div class="control_servoDir margin2">
            <div class="control_direction backgroundColor">
              <p class="margin2 spdrWordControl">Direction</p>
              <p class="margin2 spdrWordControl"><span id="slider_value_direction">0</span></p>
              <div class="flex">
                <p class="spdrWordControl">L</p>
                <input type="range" min="-90" max="90" id="slider_direction" class="margin2 slider_horizontal" />
                <p class="spdrWordControl">R</p>
              </div>
            </div>
          </div>

          <div class="control_servoDir margin2">
            <div class="control_servo_engine backgroundColor">
              <p class="margin2 servoWordControl">Servo</p>
              <p class="margin2 servoWordControl"><span id="slider_value_servo">0</span></p>
              <p class="margin2 servoWordControl">90</p>
              <input type="range" min="-90" max="90" id="slider_servo" class="slider_servo_engine margin2 slider_vertical" />
              <p class="margin2 servoWordControl">-90</p>
            </div>
          </div>

          <div class="control_engines margin2">
            <div class="control_servo_engine backgroundColor">
              <p class="margin2 engineWordControl">EngineL</p>
              <p class="margin2 engineWordControl"><span id="slider_value_engine_left">0</span></p>
              <p class="margin2 engineWordControl">90</p>
              <input type="range" min="-90" max="90" id="slider_engine_left" class="slider_servo_engine margin2 slider_vertical" />
              <p class="margin2 engineWordControl">-90</p>
            </div>

            <div class="control_speed backgroundColor">
              <p class="margin2 spdrWordControl">Speed</p>
              <p class="margin2 spdrWordControl"><span id="slider_value_speed">0</span></p>
              <p class="margin2 spdrWordControl">90</p>
              <input type="range" min="-90" max="90" id="slider_speed" class="slider_servo_engine margin2 slider_vertical" />
              <p class="margin2 spdrWordControl">-90</p>
            </div>

            <div class="control_servo_engine backgroundColor">
              <p class="margin2 engineWordControl">EngineR</p>
              <p class="margin2 engineWordControl"><span id="slider_value_engine_right">0</span></p>
              <p class="margin2 engineWordControl">90</p>
              <input type="range" min="-90" max="90" id="slider_engine_right" class="slider_servo_engine margin2 slider_vertical" />
              <p class="margin2 engineWordControl">-90</p>
            </div>
          </div>

          <div class="controlChild">

          </div>
        </div>

        <div class="monitors">
          <div class="monitor">
  <!--            <img src="{{ url_for('static', filename='images/dron.gif') }}" alt="dron"> Видео-->
          </div>
          <div class="monitor">
            <canvas id="renderCanvas" style="width: 100%; height: 100%;"></canvas>
          </div>
        </div>

      </div>

      <div class="sensorsData">
        <p>t° =</p>
        <p>p =</p>
        <p>l =</p>
      </div>
    </div>

    <script>
        const canvas = document.getElementById("renderCanvas");
        const engine = new BABYLON.Engine(canvas, true);

        const createScene = function () {
            const scene = new BABYLON.Scene(engine);
            const camera = new BABYLON.ArcRotateCamera("camera1", 0, Math.PI / 3, 15, BABYLON.Vector3.Zero(), scene);
            camera.attachControl(canvas, true);
            camera.radius = 150;
            const light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(1, 1, 0), scene);

            // Загрузка модели
            BABYLON.SceneLoader.ImportMesh("", "models/", "model.gltf", scene, function (meshes) {
                // Модель загружена, можно выполнить дополнительные действия
                console.log("Model loaded:", meshes);
            });

            return scene;
        };

        const scene = createScene();
        engine.runRenderLoop(function () {
            scene.render();
        });

        window.addEventListener("resize", function () {
            engine.resize();
        });
    </script>
  </body>
</html>