<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnderWaterDron</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        .slider_servo {
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* Chromium */
            width: 8px;
            height: 200px; /* Увеличиваем высоту для лучшего отображения */
            padding: 0 5px;
        }
    </style>
  </head>
  <body>
    <div class="controlPanel">
      <div class="control">

        <div class="monitor">
<!--            <img src="{{ url_for('static', filename='images/dron.gif') }}" alt="dron">-->
        </div>

        <div class="controlChild">
          
          <div class="control_servo_engine">
            <p class="margin2">Servo</p>
            <p class="margin2"><span id="slider_value_servo">0</span></p>
            <p class="margin2">90</p>
            <input type="range" min="-90" max="90" id="slider_servo" class="slider_servo_engine margin2" />
            <p class="margin2">-90</p>
          </div>

          <div class="control_block">
            <div class="control_engines">
              <div class="control_servo_engine">
                <p class="margin2">EngineL</p>
                <p class="margin2"><span id="slider_value_engine_left">0</span></p>
                <p class="margin2">90</p>
                <input type="range" min="-90" max="90" id="slider_engine_left" class="slider_servo_engine margin2" />
                <p class="margin2">-90</p>
              </div>
  
              <div class="control_servo_engine margin_left20">
                <p class="margin2">EngineR</p>
                <p class="margin2"><span id="slider_value_engine_right">0</span></p>
                <p class="margin2">90</p>
                <input type="range" min="-90" max="90" id="slider_engine_right" class="slider_servo_engine margin2" />
                <p class="margin2">-90</p>
              </div>
            </div>

            <div class="control_speed_direction">
              <div class="control_speed">
                <p class="margin2">Speed</p>
                <p class="margin2"><span id="slider_value_speed">0</span></p>
                <p class="margin2">90</p>
                <input type="range" min="-90" max="90" id="slider_speed" class="slider_servo_engine margin2" />
                <p class="margin2">-90</p>
              </div>
  
              <div class="control_direction margin_left20">
                <p class="margin2">Direction</p>
                <p class="margin2"><span id="slider_value_direction">0</span></p>
                <div class="flex">
                  <p>L</p>
                  <input type="range" min="-90" max="90" id="slider_direction" class="margin2" />
                  <p>R</p>
                </div>
              </div>
            </div>
          </div>

          <div class="controlChild">

          </div>
        </div>
      </div>

      <div class="sensorsData">
        <p>t° =</p>
        <p>p =</p>
        <p>l =</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateSlider(sliderId, sliderValueId, value) {
              $("#" + sliderId).val(value).trigger("input");
              $("#" + sliderValueId).text(value);
            }

            $('#slider_servo').on('input', function() {
                var sliderValue = $(this).val();
                $.ajax({
                    url: '/update_slider',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({'slider_servo': sliderValue}),
                    success: function(response) {
                        $('#slider_value_servo').text(response.slider_value_servo);
                    }
                });
            });

            $('#slider_engine_left').on('input', function() {
                var sliderValue = $(this).val();
                var sliderValueRight = $("#slider_engine_right").val();
                $.ajax({
                    url: '/update_slider',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                      'slider_engine_left': sliderValue,
                      'slider_engine_right_secondary': sliderValueRight
                    }),
                    success: function(response) {
                        $('#slider_value_engine_left').text(response.slider_value_engine_left);
                        updateSlider("slider_speed", "slider_value_speed", response.slider_value_speed);
                        updateSlider("slider_direction", "slider_value_direction",response.slider_value_direction);
                    }
                });
            });

            $('#slider_engine_right').on('input', function() {
                var sliderValue = $(this).val();
                var sliderValueLeft = $("#slider_engine_left").val();
                
                $.ajax({
                    url: '/update_slider',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                      'slider_engine_right': sliderValue,
                      'slider_engine_left_secondary': sliderValueLeft,
                    }),
                    success: function(response) {
                        $('#slider_value_engine_right').text(response.slider_value_engine_right);
                        updateSlider("slider_speed", "slider_value_speed", response.slider_value_speed);
                        updateSlider("slider_direction", "slider_value_direction",response.slider_value_direction);
                    }
                });
            });
        });
    </script>
  </body>
</html>